body {
    background-color: rgb(29, 28, 32);
    width: 100%;
    max-height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container{
    margin-top: 0;
}

.tilbake-btn{
    
    background-color: #3366cc;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 14px 10px 14px;
}

.tilbake-btn:hover{
    background-color: #184399;
}

.tilbake-btn-container{
    display: flex;
    justify-content: center;
    margin-bottom:auto;
    margin-top: 5%;
    
}

.tilbake-btn-container-produkter{
    margin-left: 1%;
    margin-top: 10%;
    }

   

.fav-btn-container{
    display: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-left:auto;
    margin-right: auto;
    
}

.mail-background{
    background-color:  rgb(29, 28, 32);
    max-width: 1440px;
    max-height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.card-img-top{
    width: 100%;
    height: 10vh;
    margin-top: 5%;
}

.card-body-mmapp{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.content-wrapper {
    width: 100%;
    max-width: 1440px; /* Adjust the max-width as needed */
    margin: 0 auto;
}

.content {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 5%;
}

.produktliste-styling{
    color: white;
    font-size: x-large;
    font-weight: 700;
    letter-spacing: 2px;
    
}

.produkter-styling {
    background-color: darkgray;
    padding: 15px;
    border-radius: 14px;
    margin-bottom: 10%;
}

.favorites-container-main {
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: rgba(255, 255, 255, 0.315);
    padding: 16px;
    border-radius: 8px;
    height: auto;
    max-height: 80vh; /* Set a maximum height */
    overflow-y: auto; /* Enable vertical scrolling */
}

.favorites-container-styling {
    flex-grow: 1;
    overflow-y: auto;
}

footer {
    width: 100%;
    height: 150px;
    background: linear-gradient(135deg, #6dd5fa, #2980b9);
    position:fixed;
    bottom: 0;
}

footer p {
    text-align: center;
    padding-top: 75px;
    color: white;
}

.produkter-info {
    color: white;
    padding-bottom: 20px;
}

.ingen-produkter{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    background-color: black;
    padding: 3px 3px 3px 3px;
}

.fav-container-save{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.mm-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 7%;
}
.værdata-hosanger{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #6dd5fa, #2980b9);
    color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease;
   
   }

   .værdata-hosanger:hover{
    transform: translateY(-10px);
   }

.location-høsong{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30%;
    background: linear-gradient(135deg, #6dd5fa, #2980b9);
    border-radius: 10px;
    padding: 20px;
    transition: transform 0.3s ease;
}

.location-høsong:hover{
    transform: translateY(+10px);
}

#download-favorites-btn{
    display: flex;
    flex-direction: block;
    flex-wrap: wrap;
    justify-content: center;
    background: linear-gradient(135deg, #82d45c, #4c961b);
    text-transform: uppercase;
    transition: transform 0.3s ease;
    
    
}

#download-favorites-btn:hover{
    background: linear-gradient(135deg, #71bd4e, #3b7712);
    transform: translateY(-5px);
}

#start-knapp{
    padding-left: 20px;
    padding-right: 20px;

}

.temp, .wind, .condition{
    font-size: x-large;
}

.bestille-text{
    color: white;
    letter-spacing: 2px;
}

.info-card-container{
    display: flex;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 10%;
    width: 100%;

    

}

.info-card-content{
    display: flex;
    flex-direction: column;
    justify-content:center;
    background: linear-gradient(135deg, #6dd5fa, #2980b9);
    color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 50%;
    padding: 20px;
    text-align: center;
}

.info-card-text{
    font-size: x-large;
}